<% layout('../layout') -%>

<h2>Pokémons</h2>

<% pokemons.forEach(function(pokemon) { %>
<div class="card" style="margin-bottom: 10px;">
    <div class="card-header">
        <a href="/pokemon/<%= pokemon._id %>"><%= pokemon.name %></a>
    </div>
    <div class="card-body">
        <%= pokemon.description %>
    </div>
</div>
<% }) %>
